
button ONCLICK btnClick[id] {
    /*add click event to all buttons that adds btnClick + id param to the hash state  */
}
#msg WHEN btnClick[id] {
    /* Whenever the state changes and matches btnClick use the inject parameter on the state */
    content:"`clicked on: ${state.id}<br><my-content></my-content>`"
}
my-content{
    content:"<button id='btn3'>button3</button>"
}

#msg{
    border:1px solid black;
    height:100px;
}

textarea[css-source] extends #msg{
    display:block;
    overflow:scroll;
    content:url(simple1.css);
    height:25rem;
    width:100%;
}