        button.navbar-toggle ONCLICK navbar{}
        button.navbar-toggle{
            content:"<span></span><span></span><span></span><span></span>"
        }


        button.navbar-toggle span:not(:first-of-type)  APPLIES icon-bar {

        }
        button.navbar-toggle span:first-of-type  APPLIES sr-only {

        }

        div#navbar {
            display:none;
        }

        div#navbar WHEN navbar {
            display:block;
        }

        .italic {
            font-style: italic;
        }
        .bold {
            font-weight: bold;
        }

        li:first-of-type APPLIES active AND italic{
            font-style: italic;
        }

        li APPLIES bold{
            font-style: bold;
        }

        #content WHEN menu * [page]{
            content:url(${page}.html);
        }

        .field{
            min-width:10rem;
        }

        form label APPLIES italic {
        }


